/*Stylesheet for KarmaLanding.html*/
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	background-color: lightgray;
	font-family: 'Roboto', sans-serif;
}

.top-navigation {
	position: fixed;
	background-color: #fff;
	width: 100%;
	height: 4.375rem;
	margin: 0 0;
	z-index: 9999;
}

.content {
	min-width: 37.5rem;
	height: 70px;
	margin: 0 315px 0 315px;
	padding: 0 15px;
	box-sizing: inherit;
}

.top-navigation .links {
	float: right;
	margin-top: 24px;
	font-size: 16px;
	color: #838994;
	letter-spacing: 0.03em;
	-webkit-font-smoothing: antialiased;
}

.top-navigation .links .active {
	color: #4c5058;
	font-weight: 500;
}

.top-navigation .links li:hover {
	cursor: pointer;
	color: #333333;
}
.logo {
	width: 26px;
	height: 70px;
	float: left;
}

.links > li,
.devices > li {
	text-align: center;
	display: inline-block;
	margin-left: 1.563rem;	
}

.cases .devices {
	box-sizing: border-box;
	width: 33.3333333%;
	display: inline-block;
	border: 1px solid black;
	height: 4em;
}

section {
	margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

.introduction {
	background-image: url('../images/karma-background.jpg');
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	height: 41rem;
	overflow: auto;
}

.introduction h1 {
	margin-top: 13rem;
	font-size: 3.125rem;
	margin-bottom: 0;
}

.introduction h3 {
	margin-top: 0.75rem;
	font-size: 1.563rem;
	margin-bottom: 1rem;
}

.introduction h1, 
.introduction h3 {
	color: white;
	text-align: center;
	font-weight: 300;
}

button{
	width: 9.688rem;
	background-color: #f15a29;
	border-color: #f15a29;
	text-shadow: none;
	border-style: none;
	border-radius: 4px;
	padding: 1rem 1.5rem;
	color: white;
	font-size: 1.125rem;
	text-align: center;
	margin: 0 auto;
	display: block;
}

button:hover {
	cursor: pointer;
	background-color: #C94B22;
}
section,
footer {

}